# Copyright (C) 2025 Katsute <https://github.com/Katsute>

name: npm CI

on:
  workflow_call:
    inputs:
      os:
        type: string
        default: ubuntu-latest
        required: false

      node-version:
        type: number
        default: 22
        required: false

      codeql-node-version:
        type: number
        default: 22
        required: false

jobs:
  Compile:
    name: npm CI (Node ${{ matrix.node }})
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        node: ${{ fromJSON(format('[{0}]', inputs.node-version)) }}
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          architecture: x64
          cache: npm
          node-version: ${{ matrix.node }}

      - name: Build
        run: npm i

  Rebuild:
    name: npm rebuild (Node ${{ matrix.node }})
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30
    needs: Compile
    if: >-
      always() && !failure() && !cancelled()
    strategy:
      matrix:
        node: ${{ fromJSON(format('[{0}]', inputs.node-version)) }}
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          architecture: x64
          node-version: ${{ matrix.node }}

      - name: Build
        run: npm i

      - name: Rebuild
        run: npm run rebuild --if-present

  Package:
    name: npm package (Node ${{ matrix.node }})
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30
    needs: Rebuild
    if: >-
      always() && !failure() && !cancelled()
    strategy:
      matrix:
        node: ${{ fromJSON(format('[{0}]', inputs.node-version)) }}
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          architecture: x64
          node-version: ${{ matrix.node }}

      - name: Build
        run: npm i

      - name: Rebuild
        run: npm run package --if-present

  Dependency-Review:
    name: Dependency Review
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30
    needs: Package
    if: >-
      always() && !failure() && !cancelled() &&
      github.event_name == 'pull_request' &&
      github.event.repository.private == false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Dependency Review
        uses: actions/dependency-review-action@v4

  CodeQL:
    name: CodeQL (Node ${{ inputs.codeql-node-version }})
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30
    needs: Dependency-Review
    if: >-
      always() && !failure() && !cancelled() &&
      (github.event_name == 'pull_request' || github.actor != 'dependabot[bot]') &&
      github.event.repository.private == false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: javascript
          queries: security-and-quality

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          architecture: x64
          cache: npm
          node-version: ${{ inputs.codeql-node-version }}

      - name: Build
        run: npm i

      - name: CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        # https://github.com/github/codeql-action/issues/1537
        if: github.event_name != 'merge_group'
        with:
          upload: false
          output: .sarif-results

      - name: Filter SARIF
        uses: advanced-security/filter-sarif@v1
        if: github.event_name != 'merge_group'
        with:
          patterns: |-
            -dist/**/*.js
          input: .sarif-results/javascript.sarif
          output: .sarif-results/javascript.sarif

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        if: github.event_name != 'merge_group'
        with:
          sarif_file: .sarif-results/javascript.sarif

  Test:
    name: npm test (Node ${{ matrix.node }})
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30
    needs: CodeQL
    if: always() && !failure() && !cancelled()
    strategy:
      matrix:
        node: ${{ fromJSON(format('[{0}]', inputs.node-version)) }}
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          architecture: x64
          cache: npm
          node-version: ${{ matrix.node }}

      - name: Build
        run: npm i

      - name: Rebuild
        run: npm run rebuild --if-present

      - name: Test
        run: npm test --if-present