# Copyright (C) 2025 Katsute <https://github.com/Katsute>

name: Deploy

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 22
        required: false

      environment:
        type: string
        required: false

      file:
        type: string
        required: true

jobs:
  Deploy:
    name: Deploy (Node ${{ inputs.node-version }})
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: ${{ inputs.environment }}
    steps:
      - name: Generate Access Token
        id: auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.KDEVBOT_APP_ID }}
          private-key: ${{ secrets.KDEVBOT_PRIVATE_KEY }}

      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          architecture: x64
          cache: npm
          node-version: ${{ inputs.node-version }}

      - name: Build
        run: npm i

      - name: Rebuild
        run: npm run rebuild --if-present

      - name: Deploy to Releases
        uses: AButler/upload-release-assets@v3.0
        with:
          files: ${{ inputs.file }}
          repo-token: ${{ steps.auth.outputs.token }}